* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0;
}

#top-menu-section {
  background-color: #303030;
  color: white;
}

#top-menu-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-top: 206px;
  padding-left: 62px;
  padding-bottom: 144px;
}

#top-menu-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2.5%
}

#top-menu-description {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

#about-section {
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 96px;
  padding-bottom: 66px;
}

.about-text {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.number {
  font-size: 40px;
  font-weight: 600;
  line-height: 28px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

#history-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 82px 54px 92px 76px;
}

#history-text {
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#history-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 20px;
}

#history-description {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}